<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <title>Hospital</title>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">LAB3</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{'/Doctor'}">Doctores</a>
      </li>
      <li class="nav-item  active">
        <a class="nav-link" th:href="@{'/Hospital'}">Hospital<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{'/Paciente'}">Paciente</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Content -->
<div class="container mt-5">
  <main>
    <div class="container px-4 py-5">
      <h1 class="pb-2 border-bottom">Lista Pacientes del Hospital</h1>
      <h1 class="pb-2 border bottom" style="color: #4200FF" th:text="${hospitalbuscado}"></h1>
      <table class="table table-sm">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Edad</th>
          <th>Género</th>
          <th>Diagnóstico</th>
          <th>Fecha de Cita</th>
          <th>Número de Habitación</th>
          <th>Doctor</th>
          <th>Hospital</th>
        </tr>
        <tr th:each="Paciente, i: ${listaPaciente}">
          <td th:text="${i.index +1}"></td>
          <td th:text="${Paciente.nombre}"></td>
          <td th:text="${Paciente.edad}"></td>
          <td th:text="${Paciente.genero}"></td>
          <td th:text="${Paciente.diagnostico}"></td>
          <td th:text="${Paciente.fecha_cita}"></td>
          <td th:text="${Paciente.numero_habitacion}"></td>
          <td th:text="${Paciente.doctor_id}"></td>
          <td th:text="${Paciente.hospital_id}"></td>
        </tr>
      </table>
    </div>
  </main>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>